// font sizes
$theme-font-size-0: 1.0rem;
$theme-font-size-1: 1.1rem;
$theme-font-size-2: 1.2rem;
$theme-font-size-3: 1.4rem;
$theme-font-size-4: 1.6rem;
$theme-font-size-5: 1.8rem;
$theme-font-size-6: 2.0rem;
$theme-font-size-7: 2.2rem;
$theme-font-size-8: 2.4rem;
$theme-font-size-9: 2.6rem;
$theme-font-size-10: 2.8rem;

// theme colors
$theme-primary-color-1: rgb(242, 149, 242);

// standard colors;
$standard-color-white: #ffffff;
$standard-color-black: #000000;