// import global variables
@import '~scss-globals';

.ui-skills {
    box-sizing: border-box;
    margin-bottom: 3rem;
    &__body {
        &__skills {
            display: flex;
            justify-content: space-between;
            gap: 2.5rem;
            flex-wrap: wrap;

            &__skill {
                cursor: pointer;

                svg {
                    transition: all 0.5s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }

            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        .ui-card-header {
            &__left {
                gap: 2rem;
            }
        }
    }
}