// import global variables
@import '~scss-globals';

.ui-footer {
    box-sizing: border-box;
    height: $footer-height;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 0.5px solid $standard-color-white;

    &__message {
        font-size: $theme-font-size-6;
    }

    &__info {
        font-size: $theme-font-size-3;

        &--copyright {
            margin-left: 6px;
        }
    }
}