// import global variables
@import '~scss-globals';

.ui-info-box {
    box-sizing: border-box;
    flex-basis: calc(50% - 42px);;
    min-height: 190px;
    border: 1px solid $standard-color-black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    color: $standard-color-black;

    &__header {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        gap: 8px;
        color: #3a3838;
        font-size: $theme-font-size-3;
        line-height: 1.5;

        &__period, &__role {
            border: 1px solid $standard-color-black;
            padding: 0.25rem 0.5rem;
            border-radius: 9999px;
        }
    }

    &__body {
        width: 100%;
        align-self: center;
        display: flex;
        gap: 10px;

        &__icon {
            img {
                width: 90px;
                height: auto;

                @media only screen and ( max-width: 866px ) {
                    width: 70px;
                }
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            text-align: left;
            letter-spacing: 0.075rem;
            gap: 1rem;

            h3 {
                font-size: $theme-font-size-8;
                font-weight: 600;
                line-height: 3rem;

                @media only screen and ( max-width: 866px ) {
                    font-size: $theme-font-size-7;
                }
            }
            h4 {
                font-size: $theme-font-size-7;
                font-weight: 400;
                line-height: 2.5rem;
                margin-bottom: 1rem;
                letter-spacing: 0.05rem;

                @media only screen and ( max-width: 866px ) {
                    font-size: $theme-font-size-7;
                }
            }
            p {
                font-size: $theme-font-size-5;
                color: #444445;
                opacity: .5;
                line-height: 1.5rem;
                
                @media only screen and ( max-width: 866px ) {
                    font-size: $theme-font-size-4;
                }
            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        flex-basis: 100%;
        min-width: 330px;
    }
}