// import global variables
@import '~scss-globals';

.ui-info-box {
    box-sizing: border-box;
    flex-basis: 45%;
    height: 200px;
    border: 1px solid $standard-color-black;

    @media only screen and (max-width: 900px) {
        flex-basis: 44.5%;
    }
    @media only screen and (max-width: 860px) {
        flex-basis: 43.5%;
    }

    @media only screen and ( max-width: 767px ) {
        flex-basis: 100%;
        min-width: 340px;
    }
}