// import global variables
@import '~scss-globals';

.ui-services {
    box-sizing: border-box;
    color: $standard-color-black;
    gap: 4rem;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__service {
            flex: 0 0 48.5%;
            margin-bottom: 20px;
            min-height: 200px;
        }
    }

     @media only screen and ( max-width: 767px ) {
        .ui-card-header {
            &__left {
                gap: 2rem;
            }
        }
        &__body {
            flex-direction: column;
            flex-wrap: nowrap;

            &__service {
                flex: none;
            }
        }
     }
}