// import global variables
@import '~scss-globals';

.ui-services {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $standard-color-black;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__service {
            flex: 0 0 48.5%;
            margin-bottom: 20px;
            min-height: 200px;
        }
    }
}