// import global variables
@import '~scss-globals';

.ui-services {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $standard-color-black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__header {
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__title {
            font-size: $theme-font-size-10;
        }

        &__description {
            font-size: $theme-font-size-5;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__service {
            flex: 0 0 48.5%;
            margin-bottom: 20px;
            min-height: 200px;
        }
    }
}