// import global variables
@import '~scss-globals';

.ui-text-area-field {
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    width: 100%;
    font-size: $theme-font-size-4;
    margin: 2rem 0;
    

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        padding: 11px;
        @include apply-theme {
            background-color: getThemeValue('bg');
            color: getThemeValue('text');
        }

        &::placeholder {
            @include apply-theme {
                background-color: getThemeValue('bg');
                color: getThemeValue('text');
            }
        }
        
        &__error {
            outline: none;
            border: 1px solid $theme-primary-color;

            &:focus {
                border: 1px solid $theme-primary-color;
            }
        }
    }

    &__error {
        color: $theme-primary-color;
        font-size: $theme-font-size-3;
    }
}