// import global variables
@import '~scss-globals';

.ui-experience-view {
    box-sizing: border-box;
    padding: 0 3rem;
    box-shadow: none;

    @media only screen and ( max-width: 767px ) {
        padding: 2rem 1.2rem;
    }

    &__body {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .ui-timeline-stage  {
            @media only screen and ( max-width: 767px ) {
                display: none;
            }
        }

        &--right {
            justify-content: flex-end;
            .ui-info-box {
                order: 1;
            }
        }

        &--last {
            .ui-timeline-stage  {
                justify-content: flex-start;
            }
        }
    }
}
