// import global variables
@import '~scss-globals';

.ui-header {
    box-sizing: border-box;
    height: $header-height;
    background: black;
    color: white;
    padding: 0 15vw;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid $standard-color-white;

    &__logo {
        height: 100%;
        flex: 1;
        font-size: $theme-font-size-8;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--icon {
            a {
                color: $standard-color-white;
            }
        }
    }

    &__wrapper {
        height: 100%;
        flex: 4;
        &__navs {
            height: 100%;
            display: flex;
            justify-content: space-evenly;

            &--link {
                font-size: $theme-font-size-5;
                margin: auto 0;

                a {
                    color: $standard-color-white;
                }
            }
        }
    }

    &__theme {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $theme-font-size-8;
    }
}