// import global variables
@import '~scss-globals';

.ui-footer {
    box-sizing: border-box;
    height: $footer-height;
    background-color: aqua;
    color: $standard-color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 0.5px solid $standard-color-white;
    max-width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05rem;

    &__message {
        font-size: $theme-font-size-7;
    }

    &__info {
        font-size: $theme-font-size-5;

        &--copyright {
            margin-left: 6px;
            font-size: $theme-font-size-4;
        }
    }
}