// import global variables
@import '~scss-globals';

.ui-footer {
    box-sizing: border-box;
    min-height: $footer-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05rem;
    position: relative;

    @media only screen and ( max-width: 767px ) {
        width: 100vw;
        padding: 1rem 2rem;
        text-align: center;

        &__message {
            margin-bottom: 1rem;
        }

        &__links {
            margin-bottom: 1rem;
        }

        &__info {
            margin-bottom: 1rem;
        }
    }

    &__message {
        font-size: $theme-font-size-7;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    &__info {
        font-size: $theme-font-size-6;

        &--logo {
            color: $theme-primary-color;
        }

        &--copyright {
            margin-left: 6px;
            font-size: $theme-font-size-5;
        }
    }

    &__gradient {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @include apply-theme {
            background-color: getThemeValue('bg');
            background-image: linear-gradient(left , getThemeValue('bg') 1%, getThemeValue('text') 50%, getThemeValue('bg') 99%);
            background-image: -o-linear-gradient(left , getThemeValue('bg') 1%, getThemeValue('text') 50%, getThemeValue('bg') 99%);
            background-image: -moz-linear-gradient(left , getThemeValue('bg') 1%, getThemeValue('text') 50%, getThemeValue('bg') 99%);
            background-image: -webkit-linear-gradient(left , getThemeValue('bg') 1%, getThemeValue('text') 50%, getThemeValue('bg') 99%);
            background-image: -ms-linear-gradient(left , getThemeValue('bg') 1%, getThemeValue('text') 50%, getThemeValue('bg') 99%);
            background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.01, getThemeValue('bg')), color-stop(0.5, getThemeValue('text')), color-stop(0.99, getThemeValue('bg')) );
        }
    }
}