// import global variables
@import '~scss-globals';

.ui-input-field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    width: 100%;
    font-size: $theme-font-size-4;
    margin: 2rem 0;

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input {
        padding: 11px;
        outline: none;
        @include apply-theme {
            background-color: getThemeValue('bg');
            color: getThemeValue('text');
        }

        &::placeholder,
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            @include apply-theme {
                -webkit-box-shadow: 0 0 0 30px getThemeValue('bg') inset;
                -webkit-text-fill-color: getThemeValue('text');
            }
        }

        &__error {
            outline: none;
            border: 1px solid $theme-primary-color;

            &:focus {
                border: 1px solid $theme-primary-color;
            }
        }
    }

    &__error {
        color: $theme-primary-color;
        font-size: $theme-font-size-3;
    }
}