// import global variables
@import '~scss-globals';

.ui-experience-page {
    box-sizing: border-box;
    width: $width-max-content;
    max-width: $width-max-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 4rem;
    color: $standard-color-black;

    @media only screen and (max-width: 992px) {
        padding: 0;
    }

    &__widget {
        padding: 2rem;
        margin: 15px 0;
    }
}