// import global variables
@import '~scss-globals';

.ui-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border-radius: 1rem;
    // box-shadow: 0 2px 12px 0 rgba( 0, 0, 0, 0.05 );
    gap: 2rem;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    &-header {
        &__left {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            &__title {
                font-size: $theme-font-size-16;
            }
            &__description {
                font-size: $theme-font-size-10;
            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        max-width: 100vw;
        padding: 2rem;

        &-header {
            &__left {
                &__title {
                    font-size: $theme-font-size-14;
                }
                &__description {
                    font-size: $theme-font-size-8;
                }
            }
        }
    }

}