$theme-map: null;

@mixin apply-theme { 

  @each $theme, $map in $themes {

    .theme--#{$theme} & { 
      $theme-map: () !global;

      @each $key, $submap in $map { 

        $value: map-get($map, $key); 

        $theme-map: map-merge( 
           $theme-map, 
            ( 
              $key: $value, 
            ) 
          ) !global; 
      } 

      @content; 
      $theme-map: null !global; 
    }
  }
}