// import global variables
@import '~scss-globals';

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.ui-about {
    box-sizing: border-box;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    margin-top: 4rem;
    min-height: calc(100vh - $header-height - $footer-height - 12rem);

    .ui-card-header {
        text-align: center;
    }

    &__body {
        display: flex;
        flex-direction: row;

        &__left {
            flex: 0 0 30%;
            max-width: 30%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
    
            &__wrapper {
                display: flex;
                justify-content: center;
                &__image {
                    animation: 1s ease-out 0s 1 slideInFromTop;
                    width: calc(100% - 0rem);
                    height: auto;
                    border-radius: 50%;
                }
            }

            &__social {
                display: flex;
                width: 100%;

                &__media {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .ui-social-media__links--link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    
        &__right {
            flex: 0 0 70%;
            max-width: 70%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 10px 0 5px 4rem;
            text-align: left;
            justify-content: space-between;
            letter-spacing: 0.1rem;
            line-height: 2.5rem;

            
            &__title {
                animation: 1s ease-out 0s 1 slideInFromRight;
                font-size: $theme-font-size-16;
                line-height: 3rem;
            }
    
            &__desc {
                animation: 1s ease-out 0s 1 slideInFromLeft;
                text-align: justify;
                font-size: $theme-font-size-8;
                width: calc( 100% - 6rem );
                line-height: 2.5rem;
            }

            &__action {
                align-self: flex-start;
            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        &__body {
            flex-direction: column;
            gap: 4rem;
            &__left {
                max-width: 100%;
                flex: none;
                &__wrapper {
                    text-align: center;
                    &__image {
                        width: calc(100% - 6rem);
                    }
                }

                &__social {
                    align-self: center;
                }
            }
            &__right {
                padding: 0;
                max-width: 100%;
                flex: none;

                &__title {
                    font-size: $theme-font-size-12;
                }

                &__desc {
                  width: calc( 100% - 0rem );  
                  font-size: $theme-font-size-5;
                }
            }
        }
    }

    @media only screen and ( min-width: 768px ) and (max-width: 1024px ) {
        min-height: calc(100vh - $header-height - $footer-height - 50rem);
    }
}