// import global variables
@import '~scss-globals';

.ui-about {
    box-sizing: border-box;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-top: 1rem;
    @include apply-theme { 
        background-color: t('bg');
    }

    .ui-card-header {
        text-align: center;
    }

    &__body {
        display: flex;
        flex-direction: row;

        &__left {
            flex: 0 0 40%;
            max-width: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            &__wrapper {
                &__image {
                    width: calc(100% - 6rem);
                    height: auto;
                    border: 2px solid $theme-primary-color;
                    border-radius: 50%;
                }
            }

            &__social {
                display: flex;
                justify-content: center;

                &__media {
                    .ui-social-media__links--link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $theme-primary-color;
                        border-radius: 50%;
                        padding: 0.5rem;
                    }
                }
            }
        }
    
        &__right {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 10px 0 30px 0;
            text-align: left;
            color: $standard-color-black;
            justify-content: space-between;
            letter-spacing: 0.1rem;
            line-height: 2.5rem;

            &__title {
                font-size: $theme-font-size-16;
            }
    
            &__desc {
                text-align: justify;
                font-size: $theme-font-size-6;
                width: calc( 100% - 6rem );
            }

            &__action {
                align-self: flex-start;
                .ui-button__title {
                    color: $standard-color-white;
                }

            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        &__body {
            flex-direction: column;
            gap: 4rem;
            &__left {
                max-width: 100%;
                flex: none;
                &__wrapper {
                    text-align: center;
                }
            }
            &__right {
                max-width: 100%;
                flex: none;

                &__desc {
                  width: calc( 100% - 0rem );  
                }
            }
        }
    }
}