// import global variables
@import '~scss-globals';

.ui-contact-page {
    box-sizing: border-box;
    width: $width-max-content;
    max-width: $width-max-content;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 0 4rem;

    &__widget {
        padding: 2rem;
        margin: 15px 0;
    }

    @media only screen and ( max-width: 767px ) {
        padding: 0 1rem;
    }
}