// import global variables
@import '~scss-globals';

.ui-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(4, 20, 41, 0.57);    
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;

    &__preIcon {
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }

    &__title {
        font-size: $theme-font-size-4;
    }
}