// import global variables
@import '~scss-globals';

.ui-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $standard-color-black;    
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 6px;
    height: 32px;
    padding: 10px;
    cursor: pointer;

}