// import global variables
@import '~scss-globals';

.ui-header {
    box-sizing: border-box;
    min-height: $header-height;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    @include apply-theme {
        background-color: getThemeValue('bg');
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: calc(100vw - 0px);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0.5rem 1rem;
        width: $width-max-header;

        &__logo {
            height: 100%;
            font-size: $theme-font-size-9;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &__icon {
                display: flex;
                color: $theme-primary-color;
                text-align: center;
                align-items: center;
                gap: 0.5rem;

                &__left {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: $theme-font-size-0;
                    }
                }
                
                &__right {
                    h1 {
                        font-size: $theme-font-size-14;
                        line-height: 1rem;

                        span {
                            @include apply-theme {
                                color: getThemeValue('text');
                            }
                        }
                    }
                }
            }
        }
    
        &__wrapper {
            height: 100%;
            max-width: 70%;
            width: calc(100% - 50px);
            display: flex;
            justify-content: flex-end;

            &__nav {
                height: 100%;
                display: flex;
                gap: 2.5rem;
    
                &__link {
                    font-size: $theme-font-size-6;
                    margin: auto 0;
                    letter-spacing: 0.1rem;
                    line-height: 1.8rem;
                    cursor: pointer;
                    transition: transform 0.4s ease-out;

                    a {
                        @include apply-theme {
                            color: getThemeValue('text');
                        }
                    }
    
                    svg {
                        border: 1px solid;
                        border-radius: 50%;
                        transform: rotate(-45deg);
                    }

                    &--active {
                        @include apply-theme {
                            color: $theme-primary-color !important;
                        }
                    }

                    &--dark {
                        transform: rotate(45deg);
                    }

                    &--light {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    @media only screen and ( max-width: 767px ) {
        display: none;
        height: 0;
        width: 0;
    }
}