// import global variables
@import '~scss-globals';

.ui-home-page {
    box-sizing: border-box;
    width: $width-max-content;
    max-width: $width-max-content;
    display: flex;
    flex-direction: column;
}