// import global variables
@import '~scss-globals';

.ui-sidebar {
    box-sizing: border-box;
    width: 100vw;
    height: $header-height-mobile;
    background-color: $theme-primary-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;

    &__menu {
        width: 100%;
        height: 100%;
        padding: 0 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__item {
            font-size: $theme-font-size-7;
            transition: transform 0.4s ease-out;

            &__icon {
                display: flex;
                color: $theme-primary-color;
                text-align: center;
                align-items: center;
                gap: 0.5rem;
                @include apply-theme {
                    color: getThemeValue('text');
                }

                &__left {
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: $theme-font-size-0;
                    }
                }
                
                &__right {
                    h4 {
                        font-size: $theme-font-size-12;
                        line-height: 1rem;
                    }
                }
            }

            &--dark {
                transform: rotate(45deg);
            }

            &--light {
                transform: rotate(-90deg);
            }
        }

        span svg {
            border-radius: 50%;
            @include apply-theme {
                fill: getThemeValue('text');
            }
        }
    }

    &__list {
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        top: $header-height-mobile;
        overflow: hidden;
        transition: height 0.3s ease-out;
        @include apply-theme {
            background-color: getThemeValue('text');
        }
        border-radius: 0 0 1rem 1rem;

        &__item {
            height: 5rem;
            padding: 2rem 3vw;
            font-size: $theme-font-size-4;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            cursor: pointer;
            
            a {
                @include apply-theme {
                    color: getThemeValue('bg');
                }
            }

            &--active {
                @include apply-theme {
                    color: $theme-primary-color !important;
                    font-weight: 600;
                }
            }
        }
        
        &--open {
            height: 200px;
        }
    }

    @media only screen and (min-width: 768px) {
        display: none;
        width: 0;
        height: 0;
    }
}