// import global variables
@import '~scss-globals';

.ui-timeline-stage {
    box-sizing: border-box;
    width: 84px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    &__top, &__bottom {
        width: 1px;
        height: 110px;
        @include apply-theme { 
            background-color: getThemeValue('text');
        }
    }

    &__center {
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 5px;

        &__line {
            height: 1px;
            width: 30px;
            @include apply-theme { 
                background-color: getThemeValue('text');
            }
        }

        &__circle {
            width: 12px;
            height: 12px;
            border: 2px solid;
            border-radius: 50%;
            @include apply-theme { 
                border-color: getThemeValue('text');
            }
        }
    }

    &--right {
        align-self: flex-end;
        flex-direction: row-reverse;
    }
}